<nav>
    <a href="/">Home</a>
    <form method="POST" action="/fiind" class="nav__search">
        <input type="search" name="search" id="search">
        <button class="btn" type="submit"><img src="./images/search_white_24dp.svg"></button>
    </form>
</nav>