<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div class="nav__search">
            <input type="text" name="" id="search">
            <button class="btn"><img src="./images/search_white_24dp.svg"></button>
        </div>
    </nav>
    <div class="container">
        <div class="data-point">
            <p>First_name Last_name</p>
            <p>Email: ****@email.com</p>
            <p>Phone: 01********</p>
            <div class="actions">
                <a class="btn" href="#"><img src="./images/mode_edit_white_24dp.svg" alt=""></a>
                <a class="btn" href="#"><img src="./images/delete_white_24dp.svg" alt=""></a>
            </div>
            <hr class="solid">
        </div>
        <div class="data-point">
            <% data.forEach(tuple => { %>
                <p><%=tuple.ID%></p>
                <p><%=tuple.DishName%></p>
                <div class="actions">
                    <a class="btn" href="#"><img src="./images/mode_edit_white_24dp.svg" alt=""></a>
                    <a class="btn" href="#"><img src="./images/delete_white_24dp.svg" alt=""></a>
                </div>
                <hr class="solid">
            <% }); %>
        </div>
    </div>
</body>
</html>