<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/client.js" defer></script>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <div class="add-dish">
            <a href="/add-dish" type="button" class="btn add-dish__btn">Add Dish</a>
        </div>
        <form method="post" action="/generate_meal" class="generation-form" autocomplete="off">
            <div class="generation-form__options">
                <label for="ingredients"><input type="checkbox" name="ingredients" value="ingredients" id="ingredients"> Ingredients</label>
                <label for="light"><input type="radio" name="parameter" value="light" id="light"> Light</label>
                <label for="heavy"><input type="radio" name="parameter" value="heavy" id="heavy"> Heavy</label>
                <label for="animal"><input type="radio" name="parameter" value="animal" id="animal"> Animal</label>
                <label for="seafood"><input type="radio" name="parameter" value="seafood" id="seafood"> Seafood</label>
            </div>
            <button type="submit" class="btn">Generate</button>
        </form>
        <div class="data-point">
            <div class="data-point__content">
                <div class="dishes">
                </div>
                <div class="total-price">
                </div>
            </div>
            <div class="actions hide">
                <a class="btn" href="#"><img src="./images/mode_edit_white_24dp.svg" alt=""></a>
                <a class="btn" href="#"><img src="./images/delete_white_24dp.svg" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>