:root {
    --background-color-1: #191919;
    --background-color-2: #2c2c2c;
    --background-color-3: #393939;
    --background-color-4: #4a4a4a;
    --background-color-11: #f9f9f9;
    --accent:rgb(0, 81, 255);
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--background-color-1);
    color: #fff;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    background-color: var(--background-color-2);
}

.nav__search {
    margin-left: auto;
    display: flex;
    gap: 1em;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#search {
    padding: 0 0.4rem;
    height: 34px;
    font-size: 1.1rem;
    accent-color: var(--accent);
    border-radius: 0.25em;
    background-color: var(--background-color-11);
    border-color: transparent;
}

/* body */
.container {
    width: 800px;
    max-width: 1100px;
    margin: 2em auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--background-color-2);
    border-radius: 0.25rem;
}

.add-dish {
    width: fit-content;
    margin-left: auto;
    margin-right: 3em;
    margin-top: 1em;
}

/* data-point card */
.data-point {
    width: 700px;
    max-width: 800px;
    margin: 0 auto;
}

.data-point__container {
    padding-bottom: 1em;
}

div[class="data-point"]:not(:last-of-type) {
    border-bottom: 2px solid var(--background-color-1);
}

.actions {
    width: 100%;
    padding: 0.25em 0 0;
    display: flex;
    justify-content: right;
    gap: 0.75em;
    font-weight: bold;
}

.btn {
    padding: 7px;
    background-color: var(--background-color-3);
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn:hover {
    background-color: var(--background-color-4);
}